<div class="row flex-xl-nowrap">
    <div class="d-none d-xl-block col-xl-2"></div>

    <nav class="d-none d-xl-block col-xl-2 bd-toc">
        <nav id="TableOfContents">
            <ul>
                <li><a routerLink="./" fragment="demo">Demo</a></li>
                <li><a routerLink="./" fragment="installation">Installation</a></li>
                <li><a routerLink="./" fragment="usage">Usage</a></li>
                <li><a routerLink="./" fragment="tourservice">TourService</a></li>
                <li><a routerLink="./" fragment="step-configuration">Step Configuration</a></li>
                <li><a routerLink="./" fragment="defaults">Defaults</a></li>
                <li><a routerLink="./" fragment="hotkeys">Hotkeys</a></li>
                <li><a routerLink="./" fragment="event-observables">Event Observables</a></li>
                <li><a routerLink="./" fragment="custom-template">Custom template</a></li>
            </ul>
        </nav>
    </nav>

    <main class="col-md-9 col-xl-8 py-md-3 pl-md-5">
        <h1>@ngx-tour/ngx-popper</h1>

        <h2 id="demo">Demo</h2>
        <a style="cursor: pointer" (click)="tourService.toggle()" class="btn btn-primary" tourAnchor="start.tour">Start Demo Tour</a>

        <router-outlet></router-outlet>
        <tour-step-template></tour-step-template>
    </main>
</div>
