<div class="row flex-xl-nowrap">
    <div class="d-none d-xl-block col-xl-2"></div>

    <nav class="d-none d-xl-block col-xl-2 bd-toc">
        <nav id="TableOfContents">
            <ul>
                <li><a routerLink="./" fragment="demo">Demo</a></li>
                <li><a routerLink="./" fragment="installation">Installation</a></li>
                <li><a routerLink="./" fragment="usage">Usage</a></li>
                <li><a routerLink="./" fragment="tourservice">TourService</a></li>
                <li><a routerLink="./" fragment="step-configuration">Step Configuration</a></li>
                <li><a routerLink="./" fragment="defaults">Defaults</a></li>
                <li><a routerLink="./" fragment="hotkeys">Hotkeys</a></li>
                <li><a routerLink="./" fragment="event-observables">Event Observables</a></li>
                <li><a routerLink="./" fragment="custom-template">Custom template</a></li>
                <li><a routerLink="./" fragment="styling-active-tour-anchor">Styling Active Tour Anchor</a></li>
            </ul>
        </nav>
    </nav>

    <main class="col-md-9 col-xl-8 py-md-3 pl-md-5">
        <h1>@ngx-tour/md-menu <a href="https://badge.fury.io/js/%40ngx-tour%2Fmd-menu"><img src="https://badge.fury.io/js/%40ngx-tour%2Fmd-menu.svg" alt="npm version" height="18"></a></h1>
        <p>
          <code>TourMatMenuModule</code> is an implementation of the tour ui that uses
          <a href="http://material.angular.io">Angular Material</a> MatMenu to display tour steps.
        </p>

        <h2 id="demo">Demo</h2>

        <button (click)="tourService.toggle()" class="btn btn-primary" tourAnchor="start.tour">Start Demo Tour</button>

        <router-outlet></router-outlet>

        <tour-step-template> </tour-step-template>
    </main>
</div>
