<div class="row flex-xl-nowrap">
    <div class="d-none d-xl-block col-xl-2"></div>

    <nav class="d-none d-xl-block col-xl-2 bd-toc">
        <nav id="TableOfContents">
            <ul>
                <li><a routerLink="./" fragment="about">About</a></li>
                <li><a routerLink="./" fragment="implementatoins">Implementations</a></li>
            </ul>
        </nav>
    </nav>

    <main class="col-md-9 col-xl-8 py-md-3 pl-md-5">
        <h1>@ngx-tour</h1>

        <p>Product tour using Angular (2+)</p>

        <h2 id="about">About</h2>

        <p>This is a product tour library built with Angular (2+). It's inspired by
          <a href="http://benmarch.github.io/angular-ui-tour">angular-ui-tour</a>.
        </p>

        <h2 id="implementation">Implementations</h2>

        There are multiple implementations of the <code>@ngx-tour</code>:

        <ul>
            <li><a [routerLink]="['/md-menu']">@ngx-tour/md-menu</a></li>
            <li><a [routerLink]="['/ng-bootstrap']">@ngx-tour/ng-bootstrap</a></li>
            <li><a [routerLink]="['/ngx-bootstrap']">@ngx-tour/ngx-bootstrap</a></li>
            <li><a [routerLink]="['/ngx-popper']">@ngx-tour/ngx-popper</a></li>
            <li><a [routerLink]="['/console']">@ngx-tour/console</a></li>
        </ul>
    </main>
</div>
